day00/ex02/ft_power.cmi
day00/ex02/a.out
day00/ex02/ft_power.cmx
day00/ex02/ft_power.o
day00/ex03/a.out
day00/ex03/ft_print_alphabet.cmi
day00/ex03/ft_print_alphabet.cmx
day00/ex03/ft_print_alphabet.o
day00/ex04/a.out
day00/ex04/ft_print_comb.cmi
day00/ex04/ft_print_comb.cmx
day00/ex04/ft_print_comb.o
day00/ex05/a.out
day00/ex05/ft_print_rev.cmi
day00/ex05/ft_print_rev.cmx
day00/ex05/ft_print_rev.o
day00/ex06/a.out
day00/ex06/ft_string_all.cmi
day00/ex06/ft_string_all.cmx
day00/ex06/ft_string_all.o
day00/ex07/a.out
day00/ex07/ft_is_palindrome.cmi
day00/ex07/ft_is_palindrome.cmx
day00/ex07/ft_is_palindrome.o
day00/ex08/a.out
day00/ex08/ft_rot_n.cmi
day00/ex08/ft_rot_n.cmx
day00/ex08/ft_rot_n.o
day00/ex09/ft_print_comb.cmi
day00/ex09/a.out
day00/ex09/ft_print_comb.cmx
day00/ex09/ft_print_comb.o
day01/ex01/a.out
.DS_Store
day01/ex00/a.out
day01/ex00/repeat_x.cmi
day01/ex00/repeat_x.cmx
day01/ex00/repeat_x.o
day01/ex01/repeat_string.cmi
day01/ex01/repeat_string.cmx
day01/ex01/repeat_string.o
day01/ex02/a.out
day01/ex02/ackerman.cmi
day01/ex02/ackerman.cmx
day01/ex02/ackerman.o
day01/ex03/a.out
day01/ex03/tak.cmi
day01/ex03/tak.cmx
day01/ex03/tak.o
day01/ex04/a.out
day01/ex04/fibonacci.cmi
day01/ex04/fibonacci.cmx
day01/ex04/fibonacci.o
day01/ex05/a.out
day01/ex05/hofstadter_mf.cmi
day01/ex05/hofstadter_mf.cmx
day01/ex05/hofstadter_mf.o
day01/ex07/coverages.cmx
day01/ex06/a.out
day01/ex06/iter.cmi
day01/ex06/iter.cmx
day01/ex06/iter.o
day01/ex07/a.out
day01/ex07/coverages.cmi
day01/ex07/coverages.o
day01/ex08/a.out
day01/ex08/ft_sum.cmi
day01/ex08/ft_sum.cmx
day01/ex08/ft_sum.o
day02/ex00/encode.cmi
day02/ex00/a.out
day02/ex00/encode.cmx
day02/ex00/encode.o
day00/ex01/ft_countdown.o
day00/ex00/a.out
day00/ex00/ft_test_sign.cmi
day00/ex00/ft_test_sign.cmx
day00/ex00/ft_test_sign.o
day00/ex01/a.out
day00/ex01/ft_countdown.cmi
day00/ex01/ft_countdown.cmx
day02/ex01/a.out
day02/ex01/crossover.cmi
day02/ex01/crossover.cmx
day02/ex01/crossover.o
day02/ex02/a.out
day02/ex02/gray.cmi
day02/ex02/gray.cmx
day02/ex02/gray.o
day02/ex03/a.out
day02/ex03/sequence.cmi
day02/ex03/sequence.cmx
day02/ex03/sequence.o
day02/ex04/a.out
day02/ex04/nucleotides.cmi
day02/ex04/nucleotides.cmx
day02/ex04/nucleotides.o
day02/ex05/a.out
day02/ex05/helix.cmi
day02/ex05/helix.cmx
day02/ex05/helix.o
day03/ex02/a.out
day02/ex06/a.out
day02/ex06/rna.cmi
day02/ex06/rna.cmx
day02/ex06/rna.o
day03/ex01/a.out
day03/ex01/gardening.cmi
day03/ex01/gardening.cmx
day03/ex01/gardening.o
day03/ex02/cipher.cmi
day03/ex02/cipher.cmx
day03/ex02/cipher.o
day03/ex02/uncipher.cmi
day03/ex02/uncipher.cmx
day03/ex02/uncipher.o
day03/ex00/a.out
day03/ex00/src/ft_graphics.cmi
day03/ex00/src/ft_graphics.cmo
day03/ex00/src/ft_graphics.o
day03/ex01/._d/src/gardening.d
day03/ex01/src/gardening.cmi
day03/ex01/src/gardening.cmo
day04/ex00/color
day04/ex00/._d/src/Color.d
day04/ex00/._d/src/main.d
day04/ex00/src/Color.cmi
day04/ex00/src/Color.cmo
day04/ex00/src/main.cmi
day04/ex00/src/main.cmo
day04/ex01/value
day04/ex01/._d/src/main.d
day04/ex01/._d/src/Value.d
day04/ex01/src/main.cmi
day04/ex01/src/main.cmo
day04/ex01/src/Value.cmi
day04/ex01/src/Value.cmo
day04/ex02/value
day04/ex02/._d/src/Card.d
day04/ex02/._d/src/Color.d
day04/ex02/._d/src/main.d
day04/ex02/._d/src/Value.d
day04/ex02/src/Card.cmi
day04/ex02/src/Card.cmo
day04/ex02/src/Color.cmi
day04/ex02/src/Color.cmo
day04/ex02/src/main.cmi
day04/ex02/src/main.cmo
day04/ex02/src/Value.cmi
day04/ex02/src/Value.cmo
